*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{

}

#nav{

}

#nav li {
    display: inline-block;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
}


#header{
    height: 46px;
    background-color: #000;

}

#slider{
    min-height: 500px;
    background-color: #333;
}

#content{

}

#footer{

}
